@import '../../pages/_variables';

.header {
  width: 100%;
  background-color: white;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 1108px;
    height: 84px;
    margin: 0 auto;
  }
  &__link {
    margin-right: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  &__link_active {
    color: $primary500;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  width: 141px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

@media (max-width: 1108px) {
  .header__nav {
    margin: 0 15px;
  }
}

@media (max-width: 768px) {
  .logo span {
    display: none;
  }
  .header__link {
    margin-right: 0px;
    margin-left: 60px;
  }
}

@media (max-width: 576px) {
  .header {
    &__nav {
      margin: 0 5px;
    }
    &__link {
      margin-right: 0px;
      margin-left: 30px;
    }
  }
}