@import '../../pages/variables.scss';

.vacancyPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 773px;
  margin: 20px auto 50px;

  &__description {
    width: 100%;
    padding: 24px;
    border: solid 1px $grey200;
    border-radius: $border-radius;
    background-color: $white;
    gap: 20px;
  }
}
