.vacanciesList {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin-bottom: 44px;
  align-items: center;
}

.vacanciesListItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  margin: 16px 0 40px;
}

.vacanciesList.vacanciesListFavoritePage {
  .vacanciesListItems {
    margin: 16px 0 104px;
  }
}
