@import '../../pages/variables';

.filter {
  border: solid 1px $grey200;
  border-radius: $border-radius;
  background-color: $white;
  padding: 20px;
}

.filter__header {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 32px;
}

.filter__reset {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $grey500;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.filter__reset:hover {
  color: $primary400
}

.filter__reset:active {
  color: $primary500
}

.filter__reset:hover svg line{
  stroke: $primary400
}

.filter__reset:active svg line{
  stroke: $primary500
}

.filter__controls {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}