$max-width: 1108px;
$border-radius: 12px;

$primary600: #5E96FC;
$primary500: #5E96FC;
$primary400: #92C1FF;
$primary300: #B7D6FF;
$primary200: #C9E0FF;
$primary100: #DEECFF;

$black: #232134;
$grey600: #7B7C88;
$grey500: #ACADB9;
$grey300: #D5D6DC;
$grey200: #EAEBED;
$grey150: #F7F7F8;
$grey100: #F5F5F6;
$white: #FFFFFF;