@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

label.mantine-InputWrapper-label {
  line-height: 1;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.mantine-InputWrapper-root [role=combobox] svg {
  transform: rotateZ(0deg);
  transition: transform 0.3s ease-in-out;
}

.mantine-InputWrapper-root [role=combobox][aria-expanded=true] svg {
  transform: rotateZ(180deg);
}

.mantine-InputWrapper-root [role=combobox][aria-expanded=true] svg path{
  stroke: $primary500;
}

.mantine-Select-rightSection {
  width: 1.5rem;
  margin-right: 12px;
}

.mantine-NumberInput-rightSection button{
  border: none;
}

.mantine-NumberInput-rightSection button svg path{
  fill: $grey500;
}

.mantine-NumberInput-rightSection button:hover svg path{
  fill: $primary400;
}

.mantine-NumberInput-rightSection button:active svg path{
  fill: $primary500;
}