@import './variables';

.jobSearch {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: $max-width;
  margin: 40px auto 0;
}

.jobSearchFilter {
  flex-basis: 315px;
}

.jobSearchList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-basis: 733px;
}

@media (max-width: 735px) {
  .jobSearch {
    flex-flow: column nowrap;
  }

  .jobSearchList {
    width: 100%;
  }

  .jobSearchFilter {
    width: 100%;
  }
}